/* header */
.header {
    width: 100%;
    height: 50px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
.menu-btn {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 5%;
}
.logo {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin: 0 5%;
}
.search {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin-left: 5%;
}


/* container */

.container {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: aqua;
}

/* slide */
.slide-wrap {
    padding: 5% 0;
    background-color: bisque;
}
.slick-slide {
    background-color: #ccc;
    border-radius: 15px;
    margin: 0 10px;
    width: 220px;
}
.slide {
    display: block;
    padding: 15% 10%;
}

/* slide 내부 text */
.slide span{
    display: block;
    text-align: left;
}
.slide-tit {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10%;
}