/* header */
.header {
    width: 100%;
    height: 50px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
.menu-btn {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 5%;
}
.logo {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin: 0 5%;
}
.search {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    margin-left: 5%;
}


/* container */

.container {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: aqua;
}

/* slide */

/* main slide */
.slide-wrap {
    padding: 5% 0;
    background-color: bisque;
}
.main-slide .slick-slide {
    background-color: #ccc;
    border-radius: 15px;
    margin: 0 10px;
    width: 220px;
}
.slide {
    display: block;
    padding: 15% 10%;
}

/* main slide 내부 text */
.slide span{
    display: block;
    text-align: left;
}
.slide-tit {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10%;
}

/* deal slide */
.eatdeal-tit {
    padding: 5% ;
    margin-top: 5%;
}
.eatdeal>div{
    width: auto;
    height: 200px;
    background-color: #ccc;
}
.dealimg {
    display: block;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

/* 중간 add */
.addbar {
    width: 100%;
    height: 100px;
    margin: 5% 0;
    background-color: beige;
}
.add {
    width: 90%;
    height: 100px;
    margin: 0 auto;
    background-color: aquamarine;
}